/* OFFER */
.Offer--body {
  height: 100%;
  background-color: #f5f6f7;
}

.Offer--container {
  width: 1280px;
  display: flex;
  margin: 0 auto;
  padding: 163px 0 200px 0;
}

.Offer--content-img {
  width: 75%;
  display: flex;
  justify-content: center;
}

.Offer--img {
  width: 552px;
  height: 624px;
  border-radius: 4px;
  object-fit: cover;
}

.divider {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(17, 17, 17, 0.1);
}

.Offer--container-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 25%;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0px 0px 2px rgba(17, 17, 17, 0.24);
}

.Offer--price {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 16px;
}

.Offer--content-product {
  display: flex;
}

.Offer--content-product span {
  flex: 1;
}

.Offer--keys {
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 700;
  color: rgb(153, 153, 153);
}

.Offer--elem {
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 700;
  color: rgb(102, 102, 102);
}

.Offer--product {
  display: flex;
  flex-direction: column;
}
.Offer--product-name {
  font-size: 16px;
  line-height: 22px;
  color: rgba(var(--cg1), 1);
  font-weight: 700;
}

.Offer--product-description {
  font-size: 16px;
  line-height: 22px;
  color: rgb(102, 102, 102);
  margin: 16px 0;
}

.Offer--product-username {
  font-size: 16px;
  line-height: 22px;
}

.Offer--button {
  color: #fff;
  background: #09b1ba;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  height: 36px;
  padding: 0 16px;
  line-height: 36px;
  margin-top: 32px;
}

.Offer--button:hover {
  background-color: #45c9cd;
  cursor: pointer;
}

/* MEDIA QUERIES */

@media (min-width: 320px) and (max-width: 480px) {
  .Offer--container {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 50px 0;
  }

  .Offer--content-img {
    width: 100%;
  }

  .Offer--img {
    width: 90%;
    height: 450px;
  }

  .divider {
    margin: 10px 0;
  }

  .Offer--container-product {
    width: 79%;
    margin-top: 20px;
  }
}

@media (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) {
  .Offer--container {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 50px 0;
  }

  .Offer--content-img {
    width: 100%;
  }

  .Offer--img {
    max-width: 55%;
  }

  .divider {
    margin: 10px 0;
  }

  .Offer--container-product {
    width: 50%;
    margin-top: 20px;
  }
}
