/* PUBLISH */

.Publish--body {
  height: 100%;
  background-color: #f5f6f7;
}

.Publish--container {
  width: 1280px;
  margin: 0 auto;
  padding-top: 100px;
}

.Publish--title-content {
  font-size: 24px;
  line-height: 20px;
  font-weight: 500;
}

.Publish--preview-image {
  margin-top: 16px;
  padding: 24px;
  background-color: #fff;
  box-shadow: 0 0 2px gray;
}

.Publish--preview-image img {
  height: 90%;
  margin: 0 10px;
}

.Publish--preview-image-border {
  width: 1232px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #ebedee;
  border-radius: 3px;
}

.Publish--remove-img-button {
  position: relative;
  color: black;
  background-color: white;
  width: 20px;
  height: 20px;
  right: 35px;
  bottom: 75px;
  border-radius: 4px;
  cursor: pointer;
}

.Publish--icon-times {
  margin: 0 3px;
  font-size: 20px;
}

.Publish--preview {
  margin-top: 16px;
  padding: 24px;
  background-color: #fff;
  box-shadow: 0 0 2px gray;
}

.Publish--border {
  width: 1232px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #ebedee;
  border-radius: 3px;
}

.Publish--label-file {
  cursor: pointer;
  color: #0ab1ba;
  font-weight: bold;
  border: 1px solid #09b1ba;
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.Publish--file {
  display: none;
}

.Publish--icon-plus {
  margin: 0 10px;
  font-size: 30px;
}

.Publish--description {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.Publish--content {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.Publish--input-section,
.Publish--text-input:not(:last-child) {
  height: 25px;
  border-bottom: 1px solid #ebedee;
}

.Publish--input-section1 {
  height: 222px;
  background-color: #fff;
  margin: 20px 0;
  box-shadow: 0 0 2px gray;
}

.Publish--input-section2 {
  height: 366px;
  background-color: #fff;
  margin: 20px 0;
  box-shadow: 0 0 2px gray;
}

.Publish--input-section3 {
  height: 131px;
  background-color: #fff;
  margin: 20px 0;
  box-shadow: 0 0 2px gray;
}

.Publish--text-input {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.Publish--textarea {
  width: 50%;
  resize: none;
  border: none;
  border-bottom: 1px solid #ebedee;
  font-size: 16px;
  outline: none;
}

.Publish--input {
  width: 50%;
  border: none;
  border-bottom: 1px solid #ebedee;
  font-size: 16px;
  outline: none;
}

.Publish--input2 {
  width: 620px;
  border: none;
  border-bottom: 1px solid #ebedee;
  font-size: 16px;
  outline: none;
  margin-bottom: 40px;
}

.Publish--textarea::placeholder {
  color: #eaebec;
}

.Publish--input::placeholder {
  color: #eaebec;
}

.Publish--input2::placeholder {
  color: #eaebec;
}

.Publish--textarea:hover {
  border-bottom: 1px solid #0ab1ba;
}

.Publish--input:hover {
  border-bottom: 1px solid #0ab1ba;
}

.Publish--input2:hover {
  border-bottom: 1px solid #0ab1ba;
}

.Publish--checkbox-section {
  width: 50%;
}

.Publish--checkbox-input > input {
  display: none;
}

.Publish--checkbox-design-checked {
  border-radius: 3px;
  padding: 3px 6px 3px 6px;
  margin: 0 15px 0 0;
  background-color: #0ab1ba;
}

.Publish--checkbox-design {
  border-radius: 3px;
  padding: 2px 11px 2px 11px;
  margin: 0 15px 0 0;
  border: 1px solid black;
}

.Publish--button-content {
  height: 143px;
  display: flex;
  justify-content: flex-end;
}

.Publish--button {
  color: #fff;
  background: #09b1ba;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  height: 36px;
  padding: 0 16px;
  line-height: 36px;
  margin-bottom: 32px;
  margin-top: 40px;
  outline: none;
}

.Publish--button:hover {
  background-color: #45c9cd;
  cursor: pointer;
}

/* MEDIA QUERIES */

@media (min-width: 320px) and (max-width: 480px) {
  .Publish--container {
    max-width: 100%;
  }

  .Publish--preview-image-border {
    max-width: 100%;
  }

  .Publish--border {
    max-width: 100%;
  }

  .Publish--icon-plus {
    margin: 0 5px 0 0;
    font-size: 20px;
  }

  .Publish--title-content {
    font-size: 18px;
    margin-left: 20px;
  }

  .Publish--form {
    margin: 0 20px;
  }

  .Publish--label-file {
    font-size: 12px;
    width: 140px;
  }

  .Publish--title {
    font-size: 14px;
    margin-left: 0;
  }

  .Publish--textarea {
    font-size: 12px;
  }

  .Publish--input {
    font-size: 12px;
  }

  .Publish--input2 {
    width: 100%;
    font-size: 12px;
  }

  .Publish--checkbox-design-checked {
    padding: 1px 4px;
    margin: 0 5px 0 0;
  }

  .Publish--checkbox-design {
    padding: 0px 9px;
    margin: 0 5px 0 0;
  }

  .Publish--exchange {
    font-size: 12px;
  }

  .Publish--button-content {
    height: 90px;
  }

  .Publish--button {
    font-size: 12px;
    margin-top: 15px;
  }
}

@media (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) {
  .Publish--container {
    max-width: 100%;
  }

  .Publish--preview-image-border {
    max-width: 100%;
  }

  .Publish--border {
    max-width: 100%;
  }

  .Publish--title-content {
    margin-left: 20px;
  }

  .Publish--icon-plus {
    margin: 0 5px 0 0;
  }

  .Publish--form {
    margin: 0 20px;
  }

  .Publish--label-file {
    font-size: 14px;
    width: 150px;
  }

  .Publish--input2 {
    width: 100%;
  }

  .Publish--checkbox-design-checked {
    padding: 1px 4px;
    margin: 0 5px 0 0;
  }

  .Publish--checkbox-design {
    padding: 0px 9px;
    margin: 0 5px 0 0;
  }

  .Publish--exchange {
    font-size: 12px;
  }
}
