/* FILTERS */

.Filters {
  width: 1280px;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin: auto;
  padding-top: 20px;
}

.Filters--title {
  margin-right: 10px;
  font-size: 14px;
  color: rgb(153, 153, 153);
}

/* CHECKBOX */

.checkbox {
  margin-right: 40px;
}
.checkbox input[name="price"] {
  display: none;
}
.checkbox input[type="checkbox"]:checked + .wrapper {
  background-color: #2cb1ba;
}
.checkbox input[type="checkbox"]:checked + .wrapper .knob {
  left: 24px;
}
.checkbox .wrapper {
  /* cercle intérieur */
  background-color: #2cb1ba;
  border-radius: 10px;
  width: 42px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.checkbox .knob {
  /* cercle arrow */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #666;
  border-radius: 100%;
  position: relative;
  width: 16px;
  height: 16px;
  transition: left 100ms ease-in-out 0s;
  font-weight: bold;
}

/* MEDIA QUERIES */

@media (max-width: 480px) {
  .Filters {
    max-width: 100%;
    font-size: 12px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 20px;
    padding-top: 10px;
  }

  .Filters--title {
    margin: 0 5px 20px 0;
    font-size: 12px;
  }
}
